<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="2.5.2.830" targetFramework="wp80" />
  <package id="Microsoft.Bcl" version="1.0.11-beta" targetFramework="wp80" />
  <package id="Microsoft.Bcl.Async" version="1.0.12-beta" targetFramework="wp80" />
  <package id="RestSharp" version="104.1" targetFramework="wp80" />
  <package id="WindowsPhoneEssentials" version="0.5.0.59" targetFramework="wp80" />
  <package id="WindowsPhoneMvp" version="1.2.0.73" targetFramework="wp80" />
  <package id="WindowsPhoneMvp.Mocks" version="1.1.0.66" targetFramework="wp80" />
  <package id="WPtoolkit" version="4.2012.10.30" targetFramework="wp80" />
  <package id="WPToolkitTestFx" version="4.2012.11.14" targetFramework="wp80" />
</packages>